.fw-bold {
  font-weight: 700 !important;
}

@media (max-width: 767px) {
  .p1 {
    padding: 10px !important;
  } /* CSS styles specific to small screens go here */
  .col-4 {
    width: 33.33% !important;
    float: left;
    box-sizing: border-box;
  }

  /* Clear floats after every third .col-4 div */
  .col-4:nth-child(3n + 1) {
    clear: both;
  }
}

.text-yellow {
  color: #ffd84e !important ;
}

.input {
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid red !important;
  background-color: #ffefb5 !important;
  padding: 5px !important;
}

.crossed {
  text-decoration: line-through !important;
}
